[Unit]
Description=elephos desktop
After=dbus.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=-/usr/bin/weston-launch --user elephos
WorkingDirectory=/home/elephos
IgnoreSIGPIPE=no
TTYPath=/dev/tty1
TTYVTDisallocate=yes

[Install]
Alias=graphical.target.wants/elephos@tty1.service
