[Unit]
Description=elephos
After=getty.service

[Service]
ExecStart=-/usr/bin/weston-launch --user elephos
WorkingDirectory=/home/elephos
Type=oneshot
IgnoreSIGPIPE=no

[Install]
Alias=multi-user.target.wants/elephos@.service
