[Unit]
Description=User Filesystem
DefaultDependencies=false
After=swap.target
Before=local-fs.target
Before=remote-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/elephos-user-filesystem mount
ExecStop=/usr/bin/elephos-user-filesystem umount

[Install]
Alias=local-fs.target.wants/elephos.user.service
